<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--    package="com.ssd.gps_30"-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Added for completeness -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permissions for sensors -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/> <!-- Required for step counter on Android 10 and above -->

    <!-- Features for sensors, especially for devices that have them -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/> <!-- Ensure this is not required for device compatibility -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPS30"
        tools:targetApi="31">

        <activity
            android:name=".MainActivityJ"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GPS30">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".LocationServie"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name=".MyReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.ssd.gps_30.SOME_ACTION" />
                <!-- Add more actions as needed -->
            </intent-filter>
        </receiver>

    </application>
</manifest>














    <!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    xmlns:tools="http://schemas.android.com/tools">-->
<!--&lt;!&ndash;    package="com.ssd.gps_30"&ndash;&gt;-->

<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:ignore="CoarseFineLocation" />-->
<!--    <uses-permission android:name="android.permission.INTERNET"/>-->

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--        android:fullBackupContent="@xml/backup_rules"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/Theme.GPS30"-->
<!--        tools:targetApi="31">-->

<!--        <activity-->
<!--            android:name=".MainActivityJ"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:theme="@style/Theme.GPS30">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <service-->
<!--            android:name=".LocationServie"-->
<!--            android:enabled="true"-->
<!--            android:exported="false"/>-->

<!--        <receiver android:name=".MyReceiver" android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.ssd.gps_30.SOME_ACTION" />-->
<!--                &lt;!&ndash; Add more actions as needed &ndash;&gt;-->
<!--            </intent-filter>-->
<!--        </receiver>-->


<!--    </application>-->
<!--</manifest>-->
